# Project place file
/Script.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

# Output File
/dist
out.lua

# VSCode Settings
.vscode/settings.json

# Temporary Build Script
build.bat
build.sh

# Node Modules
node_modules
